<!DOCTYPE html>
<html lang="en" th:replace ="~{base ::parent(~{::#content},~{::title},~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page </title>
</head>
<body>
    <div id="content">
        <h1> Wlcomw to Contact  page </h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat perferendis, tempore animi laboriosam soluta eaque ipsum omnis corporis autem. Dolore distinctio aut, dolorum dolores quisquam nobis necessitatibus aperiam nam amet!</p>

    </div>
    <script>
        console.log("contact page")
    </script>
</body>
</html>